{{# each products }}
<div class="row" style="padding-top: 50px">
  {{# each this }}

  <div class="column">
    <div class="card">
      <img src="{{this.imagePath}}" class="card-img-top" alt="...">
      <p>{{this.title}}</p>
      {{!-- <p class="card-text">{{this.description}}.</p> --}}
      <p class="price">${{this.price}}</p>
      <a href="/add-to-cart/{{this._id}}"> <button class="btn btn-info right"> BUY
          ITEM</button></a>

    </div>
  </div>
  {{/each}}
</div>
{{/each}}